absl-py==2.0.0
addict==2.4.0
aiohttp==3.9.3
aiosignal==1.3.1
albumentations==1.4.0
alembic==1.13.1
aliyun-python-sdk-core==2.14.0
aliyun-python-sdk-kms==2.16.2
appdirs==1.4.4
astor==0.8.1
asttokens==2.4.1
async-timeout==4.0.3
attr==0.3.2
attrs==23.2.0
backcall==0.2.0
backpack-for-pytorch==1.6.0
batchgenerators==0.25
beautifulsoup4==4.12.2
bezier==2023.7.28
boto3==1.34.46
botocore==1.34.46
bs4==0.0.1
bunch==1.0.1
cachetools==5.3.2
certifi==2022.12.7
cffi==1.15.1
chardet==5.2.0
charset-normalizer==3.2.0
chumpy==0.70
click==8.1.7
cloudpickle==3.0.0
cmaes==0.10.0
colorama==0.4.6
colorlog==6.8.2
connected-components-3d==3.12.4
contourpy==1.0.7
crcmod==1.7
cryptography==41.0.5
cycler==0.11.0
Cython==3.0.2
decorator==5.1.1
Deprecated==1.2.14
dicom2nifti==2.4.10
distro==1.9.0
docker-pycreds==0.4.0
easydict==1.10
efficientnet-pytorch==0.7.1
einops==0.7.0
executing==2.0.1
face-alignment==1.4.1
faiss-cpu==1.7.3
fastremap==1.14.1
filelock==3.13.1
fire==0.5.0
flatbuffers==23.5.26
fonttools==4.38.0
frozenlist==1.4.1
fsspec==2023.10.0
ftfy==6.1.1
future==0.18.3
fvcore==0.1.5.post20221221
gast==0.5.4
gdown==5.0.1
gitdb==4.0.11
GitPython==3.1.42
google-auth==2.24.0
google-auth-oauthlib==1.0.0
google-pasta==0.2.0
greenlet==3.0.3
grpcio==1.59.3
h5py==3.10.0
html5lib==1.1
huggingface-hub==0.19.1
humanize==4.9.0
idna==3.4
imageio==2.34.0
importlib-metadata==6.8.0
importlib-resources==5.12.0
info-nce-pytorch==0.1.4
iopath==0.1.10
ipython==8.12.3
itk==5.3.0
itk-core==5.3.0
itk-filtering==5.3.0
itk-io==5.3.0
itk-numerics==5.3.0
itk-registration==5.3.0
itk-segmentation==5.3.0
jedi==0.19.1
jmespath==0.10.0
joblib==1.2.0
jsonpatch==1.33
jsonpointer==2.4
Keras-Applications==1.0.8
Keras-Preprocessing==1.1.2
kiwisolver==1.4.4
kmeans1d==0.3.1
kornia==0.7.1
lazy_loader==0.3
lightning-lite==1.8.0
lightning-utilities==0.3.0
linecache2==1.0.0
llvmlite==0.41.1
loguru==0.7.2
lxml==5.1.0
Mako==1.3.2
Markdown==3.5.1
markdown-it-py==3.0.0
MarkupSafe==2.1.3
matplotlib==3.7.0
matplotlib-inline==0.1.6
mdurl==0.1.2
mediapipe==0.10.9
MedPy==0.4.0
mmcv==2.1.0
mmcv-full==1.4.0
mmengine==0.9.1
mmsegmentation==0.21.0
model-index==0.1.11
monai==0.9.0
multidict==6.0.5
munch==4.0.0
natsort==8.3.1
networkx==3.0
nibabel==5.2.0
nilearn==0.10.3
ninja==1.11.1
numba==0.58.1
numpy==1.24.4
oauthlib==3.2.2
opencv-contrib-python==4.9.0.80
opencv-python==4.9.0.80
opencv-python-headless==4.9.0.80
opendatalab==0.0.10
openmim==0.3.9
openxlab==0.0.28
opt-einsum==3.3.0
optuna==3.1.0
ordered-set==4.1.0
oss2==2.17.0
packaging==23.0
pandas==2.0.3
parso==0.8.3
pathlib2==2.3.7.post1
pickleshare==0.7.5
Pillow==9.4.0
pip==22.3.1
platformdirs==4.0.0
portalocker==2.8.2
pretrainedmodels==0.7.4
prettytable==3.9.0
progressbar2==4.2.0
prompt-toolkit==3.0.41
protobuf==3.20.3
psutil==5.9.6
pure-eval==0.2.2
pyasn1==0.5.1
pyasn1-modules==0.3.0
pycocotools==2.0.7
pycparser==2.21
pycryptodome==3.19.0
pydicom==2.3.1
Pygments==2.16.1
pyparsing==3.0.9
PySocks==1.7.1
python-dateutil==2.8.2
python-gdcm==3.0.23
python-utils==3.5.2
pytorch-ignite==0.4.2
pytorch-lightning==1.8.0
pytz==2023.3.post1
PyWavelets==1.4.1
pywin32==306
PyYAML==6.0.1
qudida==0.0.4
regex==2023.10.3
requests==2.28.2
requests-oauthlib==1.3.1
rich==13.4.2
rsa==4.9
s3transfer==0.10.0
safetensors==0.4.0
scikit-build==0.17.6
scikit-image==0.21.0
scikit-learn==1.2.2
scipy==1.10.0
seaborn==0.13.0
segmentation-models-pytorch==0.1.0
sentencepiece==0.2.0
sentry-sdk==1.40.5
setproctitle==1.3.3
setuptools==59.5.0
shellingham==1.5.4
SimpleITK==2.3.1
six==1.16.0
smmap==5.0.1
sounddevice==0.4.6
soupsieve==2.5
SQLAlchemy==2.0.27
stack-data==0.6.3
tabulate==0.9.0
tensorboard==2.14.0
tensorboard-data-server==0.7.2
tensorboard-plugin-wit==1.8.1
tensorboardX==2.6
tensorlayer==2.2.5
termcolor==2.3.0
thop==0.1.1.post2209072238
threadpoolctl==3.1.0
tifffile==2023.2.3
timm==0.4.12
tomli==2.0.1
torch==1.9.1+cu111
torchaudio==0.9.1
torchcontrib==0.0.2
torchfile==0.1.0
torchio==0.19.6
torchmetrics==0.11.0
torchsummary==1.5.1
torchvision==0.10.1+cu111
tornado==6.3.3
tqdm==4.65.2
traceback2==1.4.0
traitlets==5.13.0
typer==0.9.0
typing_extensions==4.9.0
tzdata==2023.3
unfoldNd==0.2.0
unittest2==1.1.0
urllib3==1.26.18
visdom==0.2.4
wandb==0.16.3
wcwidth==0.2.10
webencodings==0.5.1
websocket-client==1.6.3
Werkzeug==3.0.1
wheel==0.38.4
win32-setctime==1.1.0
wincertstore==0.2
wrapt==1.16.0
xlrd==2.0.1
yacs==0.1.8
yapf==0.40.2
yarl==1.9.4
zipp==3.14.0
